.container
{
	width: 1170px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.header-nav
{
	display: flex;
	justify-content: space-between;
	width: 170px;
}
.h1
{
	font-size: 20px;
}
.header-icon
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
}
.header-nav-items
{
	list-style-type: none;
}
.header-nav-link
{
	color: black;
	text-decoration: none;
}
.container2
{
	width: 1170px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background: #F1F2F4;
	display: flex;
	justify-content: center;
}
.text
{
	color: grey;
}
.b
{
	color: black;
}
.ddd
{
	display: flex;
	justify-content: space-around;
	width: 900px;
}
.h2
{
	font-size: 30px;
}
.bl1
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.image
{
	width: 310px;
	height: 260px;
}
.Filter
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 203px;
	height: 25px;
	border: 2px solid black;
	padding: 10px;
}
.block3
{
	width: 1170px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.div-card
{
	display: flex;
	justify-content: space-between;
	width: 1170px;
	margin: 0 auto;
}
.blbl1
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.kvadrat
{
	width: 40px;
	border-top: 2px solid grey;
}
.pramokytnik
{
	width: 175px;
	border-top: 2px solid #E5E5E5;
}
.ddvv
{
	display: flex;
	justify-content: center;
}
.blbl2
{
	width: 200px;
	height: 64px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;

}
.navtext
{
	color: white;
}
.navdiv
{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer
{
	display: flex;
	justify-content: center;
}
.Nimes
{
	color: white;
	text-align: center;
}
.navfooter
{
	color: white;
	text-decoration: none;
	margin-right: 5px;
}
.textmr
{
	color:white;
}
.image22
{
	width: 20px;
	height: 20px;
	z-index: 2;
}
.container5
{
	width: 1170px;
	height: 200px;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.footer
{
	display: flex;
	justify-content: center;
}
.Nimes
{
	color: white;
	text-align: center;
}
.navfooter
{
	color: white;
	text-decoration: none;
	margin-right: 5px;
}
.red-more
{
	width: 200px;
	height: 64px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container6 {
	display: flex;
	justify-content: center;
	width: 1170px;
	height: 200px;
	background: black;
}